<!--create a form ... post method -->
<!--inside the form creation date, priority, todolist-->



<form method = "post" action="/mylist">
<input type="text" name="todo" placeholder="Enter Todo">
<input type="number" name="priority" placeholder="Priority 1-10">

<br><br>

<label for="creation_date">Choose your start date:</label>
<input type="date" value="2013-01-08" name="date" min="2017-01-01" max="2018-12-30">

<br><br>

<input type="submit" value="Lets Start">

</form>
